[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
python_version = "3.5.10"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
